<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CASConnectionString" connectionString="Data Source=DESKTOP-G1ILV6K;Initial Catalog=CAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CASConnectionString1" connectionString="Data Source=217.219.81.82,11433;Initial Catalog=CAS;User ID=CAS_Admin"
      providerName="System.Data.SqlClient" />
    <add name="CASConnectionString2" connectionString="Data Source=172.30.1.100,11433;database=CAS;User Id=CAS_Admin;Password=CAS_CAS123"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.VisualC.STLCLR, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>